{% extends "welcome/layout.html" %}

{% block body%}

<div class="bg3">
    

<section class="home2">
    <div class="maxwidth">
   
    
        <h2 class="darkcolor font-normal bottom30">About <span class="defaultcolor">Me</span></h2><br>

        <div class="text2">Hello every one, My name is <span> Sai Ganesh Dokala</span>, I am an enthustic webdevloper and python devloper.Have skills in <span> Html. Djnago,Css, Javascript </span> to be an webdeveloper</div>
        <div class="text2">I can design or develop web apps like <span> Ecommerce, MultiVendor eCommerce, Online Courses Projects</span>.I want to gain more knowledge and Experience. I'm Developer and a Good Learner with a positive attitude and wants to learn new things.</div>
        <br><br><br><br><br><br><br>
    
    <div style="display: box; width: 100%;" class="hobbies">
        <h1 style="float: left;"><span class="hob">Qualification</span>: Bachelors in engineering</h1>
        <h1 style="float: right; width: 50%;"><span class="hob">Specilazation</span>:Electronics and Comminication engineering</h1> <br><br>
    </div><br><br>
    <div style="display: box; width: 100%;" class="hobbies2">
        <h1 style="float: left;"><span class="hob">Hobbies</span>: cricket, video games, travelling</h1>
        <h1 style="float: right; width: 50%;"><span class="hob">Things i do in free time</span>: building something either with cards, papers or code</h1>
    </div>
</div>
</section>

</div>
</div> 
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>To get in touch with me</h4>
                <ul>
                    <li><a href="https://www.facebook.com/iamdsg016/" target="-blank">facebook</a></li>
                    <li><a href="https://twitter.com/saiganesh016?s=08" target="-blank">twitter</a></li>
                    <li><a href="https://www.instagram.com/iam.dsg/" target="-blank">Instagram</a></li>
                    <li><a href="https://www.reddit.com/user/Separate_Ad_780" target="-blank">reddit</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>To Play with me</h4>
                <ul>
                    <li><a href="#">Pubg Id: JOY々BADBLOOD</a></li>
                    <li><a href="#">GTA V: iam_badblood</a></li>
                    <li><a href="#">COC: bad blood(#L9GVPR0L)</a></li>
                    <li><a href="#">COD: BADBLOOD007</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>To see my code work</h4>
                <ul>
                    <li><a href="github.com/saiganesh-d" target="-blank">Github</a></li>
                    <li><a href="https://stackoverflow.com/users/14101335/sai-ganesh-dokala" target="-blank">Stack Overflow</a></li>
                    
                </ul>
            </div>
            
            </div>
        </div>
    </div>
</footer>


{% endblock %}
