{% extends "welcome/layout.html" %}

   
{% block body%}

<div class="bg2">
   
<div class="blog-posts">
    <div class="post">
         <img src="/static/welcome/Email.png" alt="my image" class="post-image" >
         <div class="post-content">
             <h3>this email project built on html, css,JS as frontend and django as backend</h3>
             <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
         </div>
    </div>
    <div class="post">
        <img src="/static/welcome/ecommerce.png" alt="my image" class="post-image">
        <div class="post-content">
            <h3>this email project built on html, css,Javascript as frontend and django as backend</h3>
 
           <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
            
        </div>
        
   </div>
   <div class="post">
        <img src="/static/welcome/pickme-app.png" alt="my image" class="post-image">
        <div class="post-content">
            <h3>this email project built on html, css,JavaScript as frontend and django as backend</h3>
            <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
        </div>  
    </div>
    <div class="post">
        <img src="/static/welcome/pickme-app.png" alt="my image" class="post-image">
        <div class="post-content">
            <h3> this cat vs non cat Project is based on deep learning</h3>
            <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
        </div>  
    </div>
    <div class="post">
        <img src="/static/welcome/pickme-app.png" alt="my image" class="post-image">
        <div class="post-content">
            <h3>Its Mall analysis project, In this we will analysis the given city and find best place to esatblish a new mall.</h3>
            <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
        </div>  
    </div>   <div class="post">
        <img src="/static/welcome/pickme-app.png" alt="my image" class="post-image">
        <div class="post-content">
            <h3>Human emotions detector Project based on deep learning</h3>
            <a href="http://github.com" target="_blank" rel="noopener noreferrer">github repo</a>
        </div>  
    </div>




</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>







{% endblock %}