{% extends "welcome/layout.html" %}


{% block body%}
<div class="bg1">
   

<div class="home3">
    <div class="maxwidth">
        
        <div class="skills">
            <h1 class="text4">skills</h1><br><br><br>
                <h3 style="float: left; width: 40%;">HTML5<span class="bar"><span class="html"></span></span></h3>
                <h3 style="float: right; width: 40%;" >CSS<span class="bar"><span class="CSS"></span></span></h3>
                <h3 style="float: left; width: 40%;">Python<span class="bar"><span class="Python"></span></span></h3>
                <h3 style="float: right; width: 40%;" >JavaScript<span class="bar"><span class="Js"></span></span></h3>
                <h3 style="float: left; width: 40%;" >Angular<span class="bar"><span class="angular"></span></span></h3>
                <h3 style="float: right; width: 40%;" >Machine learning<span class="bar"><span class="machinelearning"></span></span></h3>
                <h3 style="float: left; width: 40%;" >R<span class="bar"><span class="Js"></span></span></h3>
                <h3 style="float: right; width: 40%;" >JAVA<span class="bar"><span class="angular"></span></span></h3>
                
    </div><br><br><br><br><br><br><br>
    <div class="skills2">
    <div style="float: left; width:50%;" class="languages">
        <h1 class="language">languages</h1><br>
            <h3 class="lan"><span> English    </span>:proficent</h3><br>
            <h3 class="lan"><span>Telugu    </span>: Native</h3><br>
            <h3 class="lan"><span>Hindi    </span>:Intermidiate</h3>
            <h4 class="lan2">spanish loading</h4>
    </div>
    <div style="float: right; position: relative; width: 40%;" class="tools">
        <h1 class="la">tools and other knowledge</h1> <br><br>
            
            <h3>.data analysis and preprossing(Pandas, Numpy, scikit, matplotlib)</h3><br>
            <h3>.modern deep learning frameworks(pytorch,tensorflow)</h3><br>
            <h3>.Good Knowledge on github</h3><br>
            <h3>.wide knowledgeon data science</h3>

    </div>
    

</div> 
</div>
</div>
</div>
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>To get in touch with me</h4>
                <ul>
                    <li><a href="https://www.facebook.com/iamdsg016/" target="-blank">facebook</a></li>
                    <li><a href="https://twitter.com/saiganesh016?s=08" target="-blank">twitter</a></li>
                    <li><a href="https://www.instagram.com/iam.dsg/" target="-blank">Instagram</a></li>
                    <li><a href="https://www.reddit.com/user/Separate_Ad_780" target="-blank">reddit</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>To Play with me</h4>
                <ul>
                    <li><a href="#">Pubg Id: JOY々BADBLOOD</a></li>
                    <li><a href="#">GTA V: iam_badblood</a></li>
                    <li><a href="#">COC: bad blood(#L9GVPR0L)</a></li>
                    <li><a href="#">COD: BADBLOOD007</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>To see my code work</h4>
                <ul>
                    <li><a href="github.com/saiganesh-d" target="-blank">Github</a></li>
                    <li><a href="https://stackoverflow.com/users/14101335/sai-ganesh-dokala" target="-blank">Stack Overflow</a></li>
                    
                </ul>
            </div>
            
            </div>
        </div>
    </div>
</footer>

{% endblock %}
