

{% extends "welcome/layout.html" %}

 
{% block body%}
<div id="particles-js" class="particles-js" style="height: 0%;">
    <div class="circular--portrait">
        <img src="/static/welcome/just.jpg" />
        <h1>Hello Every one, My name is sai Ganesh</h1>
      </div>
 </div>
  </div>
<div class="bg">
  
    
  <section class="home" id="home">
   
      <div class="maxwidth">
       
          <div class="home-content">
              <div class="text1">Hello Every one</div>
              <div class="text2">My name is <span> Sai Ganesh Dokala</span></div>
              <div class="text3">I am an <span>aspiring webdevloper</span></div>

              
          </div> <br><br><br><br><br><br><br> 
          <p style="bottom: inherit; font-weight: 600;">thank you for visiting my project. For me, time to build this project is exactly 4Hr's 32mins.It is simple django project with HTML,Css and Javascript <br></p>
          <p style="bottom: inherit; font-weight: 600;">Its basic django project with simple models, routings.soon I will upload work progress video(whole coding process) about this project. Stay tuned </p>
      </div>
  </section>
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>To get in touch with me</h4>
                <ul>
                    <li><a href="https://www.facebook.com/iamdsg016/" target="-blank">facebook</a></li>
                    <li><a href="https://twitter.com/saiganesh016?s=08" target="-blank">twitter</a></li>
                    <li><a href="https://www.instagram.com/iam.dsg/"  target="-blank">Instagram</a></li>
                    <li><a href="https://www.reddit.com/user/Separate_Ad_780" target="-blank">reddit</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>To Play with me</h4>
                <ul>
                    <li><a href="#">Pubg Id: JOY々BADBLOOD</a></li>
                    <li><a href="#">GTA V: iam_badblood</a></li>
                    <li><a href="#">COC: bad blood(#L9GVPR0L)</a></li>
                    <li><a href="#">COD: BADBLOOD007</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>To see my code work</h4>
                <ul>
                    <li><a href="https://github.com/saiganesh-d"  target="-blank">Github</a></li>
                    <li><a href="https://stackoverflow.com/users/14101335/sai-ganesh-dokala"  target="-blank">Stack Overflow</a></li>
                    
                </ul>
            </div>
            
            </div>
        </div>
    </div>
</footer>

    
{% endblock %}